

/* App Container */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #222;
  color: #fff;
}

.App {
  text-align: center;
  padding: 20px;
}

/* Title Style */
.title {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Container Style */
.container {
  max-width: 600px;
  margin: 0 auto;
}

/* Input Box Style */
.input-box {
  display: flex;
  margin-bottom: 20px;
}

.search-bar {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #333;
  color: #fff;
}

.search-button {
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #555;
  color: #fff;
  cursor: pointer;
}

/* Result Container Style */
.result-container {
  display: flex;
  flex-direction: column;
}

/* Current Weather Style */
.current-weather {
  background-color: #444;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.weather-num p {
  font-size: 2em;
  margin: 0;
}

.feels-like,
.high,
.low {
  margin-top: 10px;
}

/* Forecast Container Style */
.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: none;
}

.forecast-items {
  background-color: #555;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  flex: 1 0 30%;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .forecast-items {
    flex: 1 0 calc(100% - 20px);
    margin: 5px 0;
  }

  .forecast-container {
    display: block;
  }
}