body {
  margin: 0;
  min-height: 100vh;
  background-color: navy;
}

.app {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font: 600;
  font-size: 60px;
  margin: 0 auto 50px;

  text-align: center;
}

.container {
  text-align: center;
  display: flex;
  height: 30em;

  background-color: grey;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.input-box {
  display: flex;
  margin: 0 auto;
  flex-wrap: nowrap;
  height: 60px;
  padding: 0 5%;
  background-color: violet;
  height: 100%;
  border-radius: 5px;
}

.search-bar {
  padding: 10px;
  border-radius: 3px 0 0 3px;
  border: 0;
  outline: none;
  height: 20px;
  margin: auto 0;
}

.search-button {
  background-color: white;
  border: 0;
  border-radius: 0 3px 3px 0;
  height: 40px;
  margin: auto 0;
}


.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.current-weather {
  display: grid;
  width: 100%;
  text-align: center;
  background-color: orange;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.weather-num {
  grid-area: 1 / 1 / 4 / 3;
}

.feels-like {
  grid-area: 1 / 1 / 4 / 2;
}

.high {
  grid-area: 1 / 2 / 3;
}

.low {
  grid-area: 2 / 2 ; 
}

.forecast-container {
  display: flex;
  flex-direction: row;
  background-color: red;
  width: 100%;
  justify-content: center;
}

.forecast-items {
  background-color: green;
  margin: 10px;
}


/* Media queries for responsive layout */
/* @media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  
  .result-container {
    width: 100%;
  }
} */